.sale__banner {
  background-color: #f5f4f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sale__banner img {
  max-width: 1024px;
  width: 100%;
}

@media (max-width: 1010px) {
  .sale__banner {
    display: none;
  }
}
